<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Konto</title>
</head>
<body>

<header>
    <h1>Wypożyczalnia Gier Planszowych</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Strona Główna</a></li>
            <li><a th:href="@{games}">Lista Gier</a></li>
            <li><a th:href="@{account}">Konto</a></li>
            <li><a th:href="@{rentgame}">Wypożycz Grę</a></li>
            <li><a th:href="@{login}">Logowanie</a></li>
        </ul>
    </nav>
</header>

<section class="register-section">
    <h2>Formularz Wypożyczeniowy:</h2>
    <form th:action="@{/gamerent}" th:object="${rent}" method="post">
        <label>Kod gry:</label>
        <input type="text" name="gameId" required>
        <label>Od kiedy wypożyczasz?</label>
        <input type="date" name="rentDate" required>
        <label>Do kiedy wypożyczasz?</label>
        <input type="date" name="returnDate" required>
        <button type="submit">Wypożycz</button>
    </form>
</section>

<footer>
    <p>&copy; 2023 Wypożyczalnia Gier Planszowych. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>
